<div class="edit_profile">
<div class="container">
  <h2>Change Password</h2>
  <hr>
  <div class="row">
    <!-- edit form column -->
    <div class="col-md-12 personal-info">
<form class="form-horizontal" role="form" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm">
        <div class="row">
          <div class="col-md-4">
						
			<div class="form-label-group">
				<label class="control-label">Current Password:</label>
				<input type="password" class="form-control" id="oldpassword"  required [(ngModel)]="model.oldpassword" name="oldpassword" placeholder="Current Password" #oldpassword="ngModel">
				<div [hidden]="oldpassword.valid || oldpassword.pristine" class="alert alert-danger">
					Old Password is required
				</div>
			</div>
		  </div>
		  <div class="col-md-4">
				
			<div class="form-label-group">
					<label class="control-label">New Password:</label>
				<input type="password" class="form-control" id="npassword"  required [(ngModel)]="model.npassword" name="npassword" placeholder="New Password" #npassword="ngModel">
				<div [hidden]="npassword.valid || npassword.pristine" class="alert alert-danger">
					Confirm Password is required
				</div>
			</div>
		  </div>
		  <div class="col-md-4">
				
			<div class="form-label-group">
					<label class="control-label">Confirm Password:</label>
				<input type="password" class="form-control" id="cpassword" Equalvalidate="npassword"  required [(ngModel)]="model.cpassword" name="cpassword" placeholder="Confirm Password" #cpassword="ngModel">
				<div [hidden]="cpassword.valid || cpassword.pristine" class="alert alert-danger">
					Password and confirm password missmatched
				</div>
			</div>
		  </div>
		  
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label"></label>
              <div class="">
                <input type="submit" class="btn btn-primary btn-round pull-right" value="Save Changes">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>