<app-card [title]="'property'">
  <h1>
    property list works!
  </h1>
  <div class="loader" *ngIf="!loaderIn">
    <div class="item-1"><span style="background: #1ABC9C;"></span></div>
    <div class="item-2"><span style="background: #2c3e50;"></span></div>
    <div class="item-3"><span style="background: #1ABC9C;"></span></div>
    <div class="item-4"><span style="background: #2c3e50;"></span></div>
    <div class="item-5"><span style="background: #1ABC9C;"></span></div>
    <div class="item-6"><span style="background: #2c3e50;"></span></div>
    <div class="item-7"><span style="background: #1ABC9C;"></span></div>
    <div class="item-8"><span style="background: #2c3e50;"></span></div>
  </div>
</app-card>