<div class="investment">
	<div class="container">
		<div class="row">
			<div class="col-12">		
				<div class="progre">
					<span><i class="fa fa-check-circle-o" aria-hidden="true"></i><b>property</b></span>
					<span class="details"><i class="fa fa-dot-circle-o" aria-hidden="true"></i><b>Your Details</b></span>
					<span style="color: #dcdcdc"><i class="fa fa-circle-thin" aria-hidden="true"></i><b>finished</b></span>
				</div>		
			</div>
			<div class="col-md-7 col-xs-12">
				<form>
					<h2>Who is this investment for?</h2>
					<div class="radio_custom">
						<div class="radio_items">
							<input id="radio-1" class="radio-custom" name="radio-group" type="radio" checked>
							<label for="radio-1" class="radio-custom-label">Investment for myself</label>
						</div>
						<div class="radio_items">
							<input id="radio-2" class="radio-custom" name="radio-group" type="radio">
							<label for="radio-2" class="radio-custom-label">Investment for a company</label>
						</div>
					</div>
					<h2>About You</h2>
						<div class="form-group">
							<label class="control-label">Your name (as stated on your ID or passport)</label>						
								<input class="form-control" type="text" id="address" name="address" class="form-control">							
						</div>
						<div class="form-group">
							<label class="control-label">Address</label>
							<input class="form-control" type="text" id="address" name="address" class="form-control">
						</div>
						<div class="form-group">
							<label class="control-label">Nationality</label>
							<input class="form-control" type="text" id="address" name="address" class="form-control">
						</div>
						<div class="form-group">
							<label class="control-label">Civil status</label>
							<input class="form-control" type="text" id="address" name="address" class="form-control">
						</div>
				</form>
			</div>
			<div class="col-md-5 col-xs-12">
				<div class="invest_submit">
					<div class="prop_img_locate">
					<span class="invest_img"><img src="../../assets/images/root/Bitmap.png"></span>	
					<div class="heading_loct">			
					<h2>High tech at Switzerland's water vault</h2>
					<h3><i class="fa fa-map-marker" aria-hidden="true"></i>Switzerland</h3>	
					</div>
					</div>
					<div class="purchase_tx">
					<p>Expected return on equity<span>6% annually</span></p>
					<p>Distribution frequency<span>Monthly</span></p>
					<p>Purchase price<span>CHF 11'193'880.-</span></p>
					<p>Mortgage<span>58% / 5 years</span></p>
					<p>Mortgage partner</p>
					<p>Number of co-owners<span>23 investors</span></p>
					<p>Additional security<span>Our 95% promise</span></p>
					<div class="invest_data">
						<h3>investment <span>CHF - 100,000.</span></h3>
						<p>Expected return on equity<span>5.4% annually</span></p>
						<p>Distribution yield<span>CHF 367.- monthly</span></p>
					</div>
						<input type="submit" value="submit">
						<h5>All fields are required in order to continue</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>