<div class="Properties-banner">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="all-propti">
<h2>How It Work</h2>
<p>How do we find our properties?</p>
</div>
</div>
</div>
</div>
</div>
<div class="tabe-review">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="left-tabs">
<div class="tab-slider--nav">
<ul class="tab-slider--tabs">
<li class="tab-slider--trigger" [class.active]="viewMode == 'tab1'" rel="tab1" (click)="viewMode ='tab1'">Review What We Are and Who We Are</li>
<li class="tab-slider--trigger" [class.active]="viewMode == 'tab2'" rel="tab2" (click)="viewMode ='tab2'">Reqistar Robotic or Personal</li>
<li class="tab-slider--trigger" [class.active]="viewMode == 'tab3'" rel="tab3" (click)="viewMode ='tab3'">Complete required paperwork</li>
<li class="tab-slider--trigger" [class.active]="viewMode == 'tab4'" rel="tab3" (click)="viewMode ='tab4'">Follow and invest</li>
<li class="tab-slider--trigger" [class.active]="viewMode == 'tab5'" rel="tab3" (click)="viewMode ='tab5'">Receive your returns </li>
<li class="tab-slider--trigger" [class.active]="viewMode == 'tab6'" rel="tab3" (click)="viewMode ='tab6'">Look forward to additional Return on equity</li>
</ul>
</div>
<!-- Tab panes -->
<div class="tab-slider--container" [ngSwitch]="viewMode">
<div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
<h2>Review What We Are and Who We Are:</h2>
<p>Our company puts together experience in the field of real estate with creative ideas and leading technologies to prove the Swiss’ market potential in existing systems of capital
mobilization.
</p>
<img src="../../assets/images/root/hend.jpg" class="img-fluid">
</div>
<div id="tab2" class="tab-slider--body" *ngSwitchCase="'tab2'">
<h3>Reqistar Robotic or Personal</h3>
<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.</p>
</div>
<div id="tab3" class="tab-slider--body" *ngSwitchCase="'tab3'">
<h3>Complete required paperwork</h3>
<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
totam rem aperiam.</p>
</div>
<div id="tab4" class="tab-slider--body" *ngSwitchCase="'tab4'">
<h3>Follow and invest</h3>
<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
rem aperiam.</p>
</div>
<div id="tab5" class="tab-slider--body" *ngSwitchCase="'tab5'">
<h3>Receive your returns  </h3>
<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
rem aperiam.</p>
</div>
<div id="tab6" class="tab-slider--body" *ngSwitchCase="'tab6'">
<h3>Look forward to additional Return on equity</h3>
<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
rem aperiam.</p>
</div>
</div>
</div>
</div>

</div>
</div>
</div>
<div class="investment">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="title">
<h2>Investment safeguards</h2>
<p>We take our responsibilities seriously to give you the upmost trust in our business model and our
business.</p>
</div>
</div>
<div class="col-md-12">
<ul class="inve_catagrey">
<li>
<img src="../../assets/images/root/inves1.svg">
<h2>Your investments are ring-fenced</h2>
<p>And are separated from the assets and liabilities of Property Partner</p>
<span>Show More</span>
</li>
<li>
<img src="../../assets/images/root/inves2.svg">
<h2>Compensation Scheme (FSCS)</h2>
<p>Protects the funds in your Property Partner account.</p>
<span>Show More</span>
</li>
<li>
<img src="../../assets/images/root/inves3.svg">
<h2>Financial Conduct Authority</h2>
<p>is the body that authorises and regulates Property Partner.</p>
<span>Show More</span>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="platform-bg">
<div class="container">
<div class="row">
<div class="col-md-6">
<h2>Our Platform is Free For Investors</h2>
<h3>Join us for free and track record for delivery and occupancy for whole portfolio. Be aware that your investment is safe with us and the income is payed on monthly bases.</h3>
<p>Pellentesque volutpat massa ut posuere semper.Nullam urna justo,luctus ac iaculis at, efficitur eu sapien.
Sed porttitor facilisis nisi non posuere.Ut condimentum, mi in molestie congue, urna odio placerat nisi, eget
volutpat lorem urna at tortor.</p>
<div class="get_now">
<a [routerLink]="['/investment']">Invest now</a>
</div>
</div>
<div class="col-md-6">

</div>
</div>
</div>
</div>
<div class="reasons-bg">
<div class="reason_sem5">
<div class="reson_img">
<div class="mac-img">
<img src="../../assets/images/root/mackbook.png">
</div>
</div>
<div class="reson_tex">
<h2>More Reasons to Love Kreislnvest</h2>
<ul>
<li>
<h3>Invest $ 100 or $500,000+</h3>
<p>You decide the value of your investment.</p>
</li>
<li>
<h3>New opportunities to invest</h3>
<p>We are choosing the best investment opportunities and put in our portfolio. Yours is to choose real estate which corresponds to current needs.</p>
</li>
<li>
<h3>No hidden costs</h3>
<p>Every transaction is transparent and you will be informed about every expense before becoming property partner.</p>
</li>
<li>
<h3>You're in control</h3>
<p>You choose the purpose of your rental property. We are supporting you in making the right decision.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="customers-bg">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="title">
<h2>What our customers saysing?</h2>
<p>Aenean lacinia bibendum nulla sed consecteturd ligula porta felis euismod semper.<br> Fusce dapibus,
tellus ac cursus commodo.</p>
</div>
</div>
<div class="col-md-6">
<div class="rosinate-bx">
<img src="../../assets/images/root/volo1.png">
<div class="seo-bx">
<p>Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Fusce
dapibus, tellus ac cursus.</p>
<h3>Rosinante Vole</h3>
<span>SEO Marketer</span>
</div>
</div>
</div>
<div class="col-md-6">
<div class="rosinate-bx">
<img src="../../assets/images/root/volo2.png">
<div class="seo-bx">
<p>Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Fusce
dapibus, tellus ac cursus.</p>
<h3>Paul Zanker</h3>
<span>Forex Exchange</span>
</div>
</div>
</div>
<div class="col-md-6">
<div class="rosinate-bx">
<img src="../../assets/images/root/volo3.png">
<div class="seo-bx">
<p>Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Fusce
dapibus, tellus ac cursus.</p>
<h3>Will Dogtooh</h3>
<span>Business Investment</span>
</div>
</div>
</div>
<div class="col-md-6">
<div class="rosinate-bx">
<img src="../../assets/images/root/volo4.png">
<div class="seo-bx">
<p>Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Fusce
dapibus, tellus ac cursus.</p>
<h3>Zin Nguyen</h3>
<span>Forex Exchange</span>
</div>
</div>
</div>
</div>
</div>
</div>