<div class="about-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="kreislnvest-bx">
          <h2>About KreisInvest</h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered <br>alteration
            in some form, by injected humour, or randomised words which don't look even slightly <br>believable. If you
            are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything <br>embarrassing hidden
            in the middle of text. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tabing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
    <div class="tab-slider--nav">
      <ul class="tab-slider--tabs">
        <li class="tab-slider--trigger" [class.active]="viewMode == 'tab1'" rel="tab1" (click)="viewMode ='tab1'">Introduction</li>
        <li class="tab-slider--trigger" [class.active]="viewMode == 'tab2'" rel="tab2" (click)="viewMode ='tab2'">Our Team</li>
        <li class="tab-slider--trigger" [class.active]="viewMode == 'tab3'" rel="tab3" (click)="viewMode ='tab3'">Board</li>
        <li class="tab-slider--trigger" [class.active]="viewMode == 'tab4'" rel="tab4" (click)="viewMode ='tab4'">Advisors
          and partners </li>
      </ul>
    </div>
      </div>
    </div>
  </div>
  <div class="Innovation_bg">
    <div class="container">
      <div class="row">
        <!-- Tab panes -->
  <div class="tab-slider--container" [ngSwitch]="viewMode">
    <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
      <div class="col-md-12">
        <div class="sem-title">
          <h2>Innovation Built on Experience</h2>
        </div>
      </div>
      <div class="tab_content">
        <div class="tab_box">
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
            alteration in some form, by injected humour, or randomised words which don't look even slightly
            believable. </p>
          <p> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
            embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to
            repeat predefined chunks as necessary, making this the first true generator on the Internet. </p>
          <p> It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures,
            to generate Lorem Ipsum which looks reasonable. </p>
          <p> The generated Lorem Ipsum is therefore always free from repetition, injected humour, or
            non-characteristic words etc.</p>
        </div>
        <div class="tab_box">
          <p>It is a long established fact that a reader will be distracted by the readable content of a page
            when looking at its layout.</p>
          <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
            opposed to using 'Content here, content here', making it look like readable English.</p>
          <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model
            text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. </p>
        </div>
      </div>
    </div>
    <div id="tab2" class="tab-slider--body" *ngSwitchCase="'tab2'">
      <h3>Our Team</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
    </div>
    <div id="tab3" class="tab-slider--body" *ngSwitchCase="'tab3'">
      <h3>Board</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
        rem aperiam.</p>
    </div>
    <div id="tab4" class="tab-slider--body" *ngSwitchCase="'tab4'">
      <h3>Advisors and partners</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
        rem aperiam.</p>
    </div>
  </div>

      </div>
    </div>
  </div>
</div>
<div class="our-team">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h2>Our Leadership Team</h2>
          <p>For us, our clients, employees and partners always come first. We create a culture in which every member
            of the team can use his or her individual strengths optimally. Transparency and ethics are anchored in our
            DNA just as much as pioneering spirit, innovation and dynamism.</p>
        </div>
      </div>
      <div class="col-md-12">
        <ul class="team_list">
          <li>
            <img src="../../assets/images/root/team1.png">
            <h2>Gary Beasley</h2>
            <p>CEO & Co-Founder</p>
          </li>
          <li>
            <img src="../../assets/images/root/team2.png">
            <h2>Gary Beasley</h2>
            <p>Chairman & Co-Founder</p>
          </li>
          <li>
            <img src="../../assets/images/root/team3.png">
            <h2>Gary Beasley</h2>
            <p>Chief Development <br>Officer & Co-Founder</p>
          </li>
          <li>
            <img src="../../assets/images/root/team4.png">
            <h2>Gary Beasley</h2>
            <p>Chief Legal and <br>Compliance Officer</p>
          </li>
          <li>
            <img src="../../assets/images/root/team5.png">
            <h2>Gary Beasley</h2>
            <p>VP Research & Development</p>
          </li>
          <li>
            <img src="../../assets/images/root/team6.png">
            <h2>Gary Beasley</h2>
            <p>VP of People</p>
          </li>
          <li>
            <img src="../../assets/images/root/team7.png">
            <h2>Gary Beasley</h2>
            <p>Chief Canine Officer & <br>Director of Training</p>
          </li>
          <li>
            <img src="../../assets/images/root/team8.png">
            <h2>Gary Beasley</h2>
            <p>CEO & Co-Founder</p>
          </li>
          <li>
            <img src="../../assets/images/root/team9.png">
            <h2>Gary Beasley</h2>
            <p>CEO & Co-Founder</p>
          </li>
          <li>
            <img src="../../assets/images/root/team10.png">
            <h2>Gary Beasley</h2>
            <p>CEO & Co-Founder</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="our-team bottom-cx">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h2>Meet Our Board of Directors</h2>
          <p>The business management of KreisInvest is run by the founders and the firm is mostly privately owned. The
            Luzerner Kantonalbank also holds a strategic stake and, along with other renowned characters, also has a
            seat on the Board of Directors.</p>
        </div>
      </div>
      <div class="col-md-12">
        <ul class="team_list">
          <li>
            <img src="../../assets/images/root/team1.png">
            <h2>Gary Beasley</h2>
            <p>CEO & Co-Founder</p>
          </li>
          <li>
            <img src="../../assets/images/root/team2.png">
            <h2>Gary Beasley</h2>
            <p>Chairman & Co-Founder</p>
          </li>
          <li>
            <img src="../../assets/images/root/team3.png">
            <h2>Gary Beasley</h2>
            <p>Chief Development <br>Officer & Co-Founder</p>
          </li>
          <li>
            <img src="../../assets/images/root/team4.png">
            <h2>Gary Beasley</h2>
            <p>Chief Legal and <br>Compliance Officer</p>
          </li>
          <li>
            <img src="../../assets/images/root/team5.png">
            <h2>Gary Beasley</h2>
            <p>VP Research & Development</p>
          </li>

        </ul>
        <div class="get_now">
          <a href="#">Get Started Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="partners_bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>These Are Our Partners</h2>
        <ul>
          <li><img src="../../assets/images/root/Partners1.png"></li>
          <li><img src="../../assets/images/root/Partners2.png"></li>
          <li><img src="../../assets/images/root/Partners3.png"></li>
          <li><img src="../../assets/images/root/Partner4.png"></li>
          <li><img src="../../assets/images/root/Partners5.png"></li>
          <li><img src="../../assets/images/root/Partners6.png"></li>
          <li><img src="../../assets/images/root/Partners7.png"></li>
          <li><img src="../../assets/images/root/Partner8.png"></li>
          <li><img src="../../assets/images/root/Partners8.png"></li>
          <li><img src="../../assets/images/root/Partners9.png"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="customers-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h2>What our customers saysing?</h2>
          <p>Aenean lacinia bibendum nulla sed consecteturd ligula porta felis euismod semper.<br> Fusce dapibus,
            tellus ac cursus commodo.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rosinate-bx">
          <img src="../../assets/images/root/volo1.png">
          <div class="seo-bx">
            <p>Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Fusce
              dapibus, tellus ac cursus.</p>
            <h3>Rosinante Vole</h3>
            <span>SEO Marketer</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rosinate-bx">
          <img src="../../assets/images/root/volo2.png">
          <div class="seo-bx">
            <p>Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Fusce
              dapibus, tellus ac cursus.</p>
            <h3>Paul Zanker</h3>
            <span>Forex Exchange</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rosinate-bx">
          <img src="../../assets/images/root/volo3.png">
          <div class="seo-bx">
            <p>Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Fusce
              dapibus, tellus ac cursus.</p>
            <h3>Will Dogtooh</h3>
            <span>Business Investment</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rosinate-bx">
          <img src="../../assets/images/root/volo4.png">
          <div class="seo-bx">
            <p>Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Fusce
              dapibus, tellus ac cursus.</p>
            <h3>Zin Nguyen</h3>
            <span>Forex Exchange</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>