<div class="Properties-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="all-propti">
          <h2>Frequently Asked Questions</h2>
          <p>In spite of detailed information on our web site, you may still have some questions. We answer them here.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="stickyMenu clearfix">
  <ul>
    <li><a pageScroll href="#link-1" class="tab_clicked">Burt</a></li>
  
    <li><a pageScroll href="#link-2" class="tab_clicked">Olly</a></li>
    <li><a pageScroll href="#link-3" class="tab_clicked">Wonder</a></li>
  </ul>
</nav>
<div class="faq-acckuind">
  <div class="content">
    <div id="link-1" class="tracked">
      <div class="Frequently one">
        <div class="container">
          <div class="col-md-12">
            <div class="title">
              <h2>1.Burt</h2>

            </div>
          </div>
          <div class="col-md-12">
            <!-- Tab panes -->
            <accordion>
              <accordion-group heading=" 1.1. What exactly is the role of KreisInvest?" [isOpen]="isFirstOpen">
               <p> This content is straight in the template.</p>
              </accordion-group>
              <accordion-group heading="1.2. Is KreisInvest under the supervision of FINMA?">
                <p>Some content</p>
              </accordion-group>
              <accordion-group heading="1.3. How does the acquisition of co-ownership through KreisInvest work?">
                <p>Some content</p>
              </accordion-group>
              <accordion-group heading="1.4. What information and documents can be found on KreisInvest?">
                <p>Some content</p>
              </accordion-group>
              <accordion-group heading="1.5 Why do I have to register with KreisInvest in order to acquire a co-ownership share?">
                <p>Some content</p>
              </accordion-group>
              <accordion-group heading="1.6. How does KreisInvest make money?">
                <p>Some content</p>
              </accordion-group>
              <accordion-group heading=" 1.7. What is the difference betweeen KreisInvest and a property fund or property company?">
                <p>Some content</p>
              </accordion-group>
            </accordion>
          </div>
        </div>
      </div>
    </div>

    <div id="link-2" class="tracked">
      <div class="Frequently">
        <div class="container">
          <div class="col-md-12">
            <div class="title">
              <h2>2.Olly</h2>
            </div>
          </div>
          <div class="col-md-12">
            <!-- Tab panes -->
            <accordion>
              <accordion-group heading=" 1.1. What exactly is the role of KreisInvest?">
               <p> This content is straight in the template.</p>
              </accordion-group>
              <accordion-group heading="1.2. Is KreisInvest under the supervision of FINMA?">
                <p>Some content</p>
              </accordion-group>
              <accordion-group heading="1.3. How does the acquisition of co-ownership through KreisInvest work?">
                <p>Some content</p>
              </accordion-group>
              <accordion-group heading="1.4. What information and documents can be found on KreisInvest?">
                <p>Some content</p>
              </accordion-group>
              <accordion-group heading="1.5 Why do I have to register with KreisInvest in order to acquire a co-ownership share?">
                <p>Some content</p>
              </accordion-group>
              <accordion-group heading="1.6. How does KreisInvest make money?">
                <p>Some content</p>
              </accordion-group>
              <accordion-group heading=" 1.7. What is the difference betweeen KreisInvest and a property fund or property company?">
                <p>Some content</p>
              </accordion-group>
            </accordion>
          </div>
        </div>
      </div>
    </div>
    <div id="link-3" class="tracked">
      <div class="Frequently one">
        <div class="container">
          <div class="col-md-12">
            <div class="title">
              <h2>3.Wonder</h2>
            </div>
          </div>
          <div class="col-md-12">
            <!-- Tab panes -->
            <accordion>
              <accordion-group heading=" 1.1. What exactly is the role of KreisInvest?">
               <p> This content is straight in the template.</p>
              </accordion-group>
              <accordion-group heading="1.2. Is KreisInvest under the supervision of FINMA?">
                <p>Some content</p>
              </accordion-group>
              <accordion-group heading="1.3. How does the acquisition of co-ownership through KreisInvest work?">
                <p>Some content</p>
              </accordion-group>
              <accordion-group heading="1.4. What information and documents can be found on KreisInvest?">
                <p>Some content</p>
              </accordion-group>
              <accordion-group heading="1.5 Why do I have to register with KreisInvest in order to acquire a co-ownership share?">
                <p>Some content</p>
              </accordion-group>
              <accordion-group heading="1.6. How does KreisInvest make money?">
                <p>Some content</p>
              </accordion-group>
              <accordion-group heading=" 1.7. What is the difference betweeen KreisInvest and a property fund or property company?">
                <p>Some content</p>
              </accordion-group>
            </accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="Request-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2>Request a free <br>consultants</h2>
        <p>Aenean lacinia bibendum nulla sed consecteturd <br>ligula porta felis euismod semper ac cursus <br>commodo.</p>
      </div>
      <div class="col-md-7">
        <form method="post">

          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Name" value="" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Email" value="" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <select class="form-control disc-bt" id="exampleFormControlSelect1">
                  <option>I would like to discuss</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>

                </select>
                <span class="se-bt"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
              </div>

              <div class="form-group">
                <textarea name="email" class="form-control" placeholder="Message" style="width: 100%; height: 150px;"></textarea>
              </div>
              <div class="form_sambit">
                <a href="#">submit now</a>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="customers-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h2>What our customers saysing?</h2>
          <p>Aenean lacinia bibendum nulla sed consecteturd ligula porta felis euismod semper.<br> Fusce dapibus,
            tellus ac cursus commodo.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rosinate-bx">
          <img src="../assets/images/root/volo1.png">
          <div class="seo-bx">
            <p>Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Fusce
              dapibus, tellus ac cursus.</p>
            <h3>Rosinante Vole</h3>
            <span>SEO Marketer</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rosinate-bx">
          <img src="../assets/images/root/volo2.png">
          <div class="seo-bx">
            <p>Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Fusce
              dapibus, tellus ac cursus.</p>
            <h3>Paul Zanker</h3>
            <span>Forex Exchange</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rosinate-bx">
          <img src="../assets/images/root/volo3.png">
          <div class="seo-bx">
            <p>Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Fusce
              dapibus, tellus ac cursus.</p>
            <h3>Will Dogtooh</h3>
            <span>Business Investment</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rosinate-bx">
          <img src="../assets/images/root/volo4.png">
          <div class="seo-bx">
            <p>Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Fusce
              dapibus, tellus ac cursus.</p>
            <h3>Zin Nguyen</h3>
            <span>Forex Exchange</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>