<div class="Properties-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="all-propti">
          <h2>Frequently Asked Questions</h2>
          <p>In spite of detailed information on our web site, you may still have some questions. We answer them here.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="faq-acckuind">
  <div class="content">
    <div id="link-1" class="tracked">
      <div class="Frequently one">
        <div class="container">
          <div class="col-md-12">
          <accordion>
            <accordion-group heading="1. What exactly is the role of KreisInvest?" [isOpen]="isFirstOpen">
              <p>In order to supply and manage the projects, ensuring the highest quality of return for its investors.</p>
            </accordion-group>
            <accordion-group heading="2. Is KreisInvest under the supervision of FINMA?">
              <p>Currently, FINMA are not regulating the crowd funding market place.</p>
            </accordion-group>
            <accordion-group heading="3. How does the acquisition of co-ownership through KreisInvest work?">
              <p>Each buyer is recognised on the title as a co-owner of the real estate,
                giving them the same position as a direct full
                owner only with a smaller piece of the real estate</p>
            </accordion-group>
            <accordion-group heading="5 Why do I have to register with KreisInvest in order to acquire a co-ownership share?">
              <p>As KI is managing the whole process each investor must be registered with ourselves</p>
            </accordion-group>
            <accordion-group heading="6. How does KreisInvest make money?">
              <p>From fees charged as disclosed</p>
            </accordion-group>
            <accordion-group heading="7. What is the difference betweeen KreisInvest and a property fund or property company?">
              <p>There are many similarities between this model and the listed property funds, however due to a more streamlined
                approach and the investors direct ownership of real estate with marginal fees the overall return is stronger
                (maybe
                some comps)</p>
            </accordion-group>
          </accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="Request-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2>Request a free <br>consultants</h2>
        <p>Aenean lacinia bibendum nulla sed consecteturd <br>ligula porta felis euismod semper ac cursus <br>commodo.</p>
      </div>
      <div class="col-md-7">
        <form method="post">

          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Name" value="" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Email" value="" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <select class="form-control disc-bt" id="exampleFormControlSelect1">
                  <option>I would like to discuss</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>

                </select>
                <span class="se-bt"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
              </div>

              <div class="form-group">
                <textarea name="email" class="form-control" placeholder="Message" style="width: 100%; height: 150px;"></textarea>
              </div>
              <div class="form_sambit">
                <a href="#">submit now</a>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="customers-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h2>What our customers saysing?</h2>
          <p>Aenean lacinia bibendum nulla sed consecteturd ligula porta felis euismod semper.<br> Fusce dapibus,
            tellus ac cursus commodo.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rosinate-bx">
          <img src="../assets/images/root/volo1.png">
          <div class="seo-bx">
            <p>Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Fusce
              dapibus, tellus ac cursus.</p>
            <h3>Rosinante Vole</h3>
            <span>SEO Marketer</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rosinate-bx">
          <img src="../assets/images/root/volo2.png">
          <div class="seo-bx">
            <p>Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Fusce
              dapibus, tellus ac cursus.</p>
            <h3>Paul Zanker</h3>
            <span>Forex Exchange</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rosinate-bx">
          <img src="../assets/images/root/volo3.png">
          <div class="seo-bx">
            <p>Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Fusce
              dapibus, tellus ac cursus.</p>
            <h3>Will Dogtooh</h3>
            <span>Business Investment</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rosinate-bx">
          <img src="../assets/images/root/volo4.png">
          <div class="seo-bx">
            <p>Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Fusce
              dapibus, tellus ac cursus.</p>
            <h3>Zin Nguyen</h3>
            <span>Forex Exchange</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>