<div class="pas_polic">
  <div class="container">
    <div class="row">
      <div class="col-12 col">
        <h1 style="text-align: center; ">TERMS &amp; CONDITIONS</h1>
        <p><br></p>
        <p><b>Nulla rutrum condimentum ultricies. </b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
          imperdiet vehicula congue. Sed massa lorem, molestie sit amet laoreet vel, gravida ac elit. Praesent sodales
          blandit ipsum quis faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
          Curae; Aliquam at dolor varius, bibendum metus id, cursus augue.&nbsp;</p>
        <p><br></p>
        <p><b>Donec ullamcorper diam in tortor &amp; dignissim</b></p>
        <p>Nulla rutrum condimentum ultricies. Nullam pellentesque ut massa eu eleifend. Maecenas ut sollicitudin
          turpis, in pharetra nunc. Mauris ut arcu at tellus vestibulum pulvinar. Praesent sem risus, tincidunt
          porttitor fringilla et, malesuada quis ipsum. Morbi ut ex risus. Nam tincidunt lectus accumsan ipsum
          tincidunt, vitae placerat tortor sollicitudin. Pellentesque vitae dui in est interdum fermentum. Quisque nec
          finibus nisl. Nam luctus efficitur purus. Sed augue tellus, egestas quis libero vitae, laoreet dignissim
          nulla.&nbsp;</p>
        <p>Sed sit amet risus tortor. Sed vulputate justo eget lorem elementum, eu mattis eros scelerisque. Nulla
          pharetra sapien suscipit, imperdiet ex ut, accumsan leo. Cras vulputate dui nec mi tristique pharetra.
          Quisque elementum sem enim, ac dapibus ex aliquet quis. Phasellus eget porta velit. Nam pharetra diam quam.
          Suspendisse malesuada lobortis dui,&nbsp;</p>
        <p>Donec laoreet justo nec auctor tincidunt. Morbi laoreet lacus vel elit lacinia, sit amet rhoncus odio
          elementum. Mauris sed purus id sem vehicula gravida quis ut orci. Phasellus sagittis condimentum nunc, id
          condimentum tortor interdum ut.&nbsp;</p>
        <p><b>Sed sit amet risus tortor. &amp; elementum,</b></p>
        <p>Donec laoreet justo nec auctor tincidunt. Morbi laoreet lacus vel elit lacinia, sit amet rhoncus odio
          elementum. Mauris sed purus id sem vehicula gravida quis ut orci. Phasellus sagittis condimentum nunc, id
          condimentum tortor interdum ut. &nbsp;</p>
        <p>Nam venenatis, leo a rhoncus auctor, arcu dui feugiat nibh, non fringilla odio orci egestas dui. Vivamus nec
          magna sollicitudin, euismod mi sagittis, bibendum nisl. Sed non nisl ut mauris congue porttitor vitae sed
          est. Suspendisse potenti. Integer maximus vulputate nisi, sed fringilla magna venenatis a. </p>
        <p><br></p>
        <p><b>Sed sit amet risus tortor. Sed vulputate justo eget lorem elementum, </b></p>
        <p><a [routerLink]="['/home']" target="_blank">KreisInvest</a>&nbsp;Sed sit amet risus
          tortor. Sed vulputate justo eget lorem elementum, eu mattis eros scelerisque. Nulla pharetra sapien suscipit,
          imperdiet ex ut, accumsan leo. Cras vulputate dui nec mi tristique pharetra. Quisque elementum sem enim, ac
          dapibus ex aliquet quis. Phasellus eget porta velit. Nam pharetra diam quam. Suspendisse malesuada lobortis
          dui, id dapibus magna mollis in. Vestibulum at ex cursus, consequat quam a, congue nulla..&nbsp;</p>
      </div>
    </div>
  </div>
</div>