<div class="pas_polic ">
  <div class="container">
    <div class="row">
      <div class="col-12 col">
        <h1 style="text-align: center; ">PRIVACY POLICY</h1>
        <p><b>Lorem Ipsum is simply dummy text </b>Lorem Ipsum has been the industry's standard dummy text ever since
          the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
          has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
          unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
          passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
          Ipsum.&nbsp;&nbsp;</p>
        <p><b>Lorem Ipsum</b></p>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
          some form, by injected humour, or randomised words which don't look even slightly believable. If you are
          going to use a passage of Lorem Ipsum,&nbsp;</p>
        <p><b>t is a long established fact that a reader will be distracted</b></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. </p>
        <p><b>But I must explain to you how</b></p>
        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I
          will give you a complete account of the system, and expound the actual teachings of the great explorer of the
          truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself,</p>
        <p><b>At vero eos et accusamus et iusto odio,</b></p>
        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and
          demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain
          and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness
          of will, which is the same as saying through shrinking from toil and pain. if:&nbsp;</p>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
          some form, by injected humour, or randomised words which don't look even slightly believable. If you are
          going to use a passage of Lorem Ipsum,&nbsp;</p>
        <p><b>t is a long established fact that a reader will be distracted</b></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. </p>
        <p><b>But I must explain to you how</b></p>
        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I
          will give you a complete account of the system, and expound the actual teachings of the great explorer of the
          truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself,</p>
        <p><b>At vero eos et accusamus et iusto odio,</b></p>
        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and
          demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain
          and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness
          of will, which is the same as saying through shrinking from toil and pain. if:&nbsp;</p>
        <p>451 Fifth Avenue, 36th SWISS,</p>
        <p>Phone: <a href="tel:+(1200) 445 441 221">+(1200) 445 441 221</a></p>
        <p>Email: <a href="mailto:creativewithjoy@gmail.com">creativewithjoy@gmail.com</a></p>
      </div>
    </div>
  </div>
</div>