.emp-profile {
    border-radius: 0.5rem;
    background: #fff;
    padding: 0;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 70%;
    height: 100%;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: #0062cc;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

.proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.profile-head .nav-tabs {
    margin-bottom: 2%;
}

.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
    padding-top: 0;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
}

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #345f90;
}

.edit_profile {
    padding: 50px 0
}

.edit_profile .btn.btn-round {
    border-radius: 5px;
    background-image: linear-gradient(134deg, #54e490 0%, #36bf70 100%);
    border: 0;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(77, 219, 137, 0.5);
    border-radius: 0px;
}

.edit_profile label.control-label {
    color: #000;
    font-weight: 600;
}

.edit_profile h2 {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: 0;
    background: #36bf70;
    color: #fff;
    padding: 7px 15px;
    font-weight: 600;
    position: relative;
    top: -18px;
    border-radius: 10px;
}

.edit_profile .container {
    box-shadow: 2px 2px 0px 2px #1da958;
    border-radius: 10px;
    border: 1px solid #36bf70;
    padding-bottom: 20px;
    padding-bottom: 25px
}

.form-group .alert-danger {
    background-color: transparent;
    color: #36bf70;
    border: 0;
    padding: 0;
    padding-top: 5px;
    margin: 0;
    font-size: 12px;
}

.edit_profile h3 {
    color: #36bf70;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

@media(min-width: 320px) and (max-width: 767px) {
    .edit_profile h3 {
        margin-top: 15px
    }
    .edit_profile .container {
        width: 95%;
    }
    .edit_profile h2{text-align: center}
}