<div class="Business-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="overview">
          <h2>Overview </h2>
          <p>The correct real estate is the best investment for our generation and the next Real estate in Switzerland
            is our business, historically selling to large institutions and private wealth co ownership put simply
            allows a spread for the investor, and creates accessibility to this asset class by using the fiscal power
            of a number of investors. </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="overview-img">
          <h2>Business Model</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="Kreis-bg">
  <div class="container">
    <div class="row">
      <h2>Kreis history from father to son - DARKO </h2>
      <div class="video-img">
        <img src="../../assets/images/root/video.png">
      </div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book. </p>
      <div class="get_now">
        <a href="#">Get Started Now</a>
      </div>
    </div>
  </div>
</div>
<div class="macro-chart">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Macro rational - CHART</h2>
        <h4>The reality of most investments is they are often </h4>
        <h5>To complex, To cash intensive, To risky</h5>
        <p>None of the above 3 are appealing to any one parting with their own funds, and what seems to be the grim
          reality is that the investments with the most stability and longevity (usually real estate) are impossible to
          obtain for the majority of us.</p>
        <p>Everyone wants to sleep soundly that what they had at 10 pm is still available and even a little more at 8
          am , and the history of our fiscal world teaches us that this is on the whole the most likely with real
          estate. And for the fortunate people of our country that is even more the case then the rest of Europe and
          even the world. So macro factors display that to be able to invest in Switzerland is to be fortunate.</p>
      </div>
      <div class="col-md-6">
        <div class="pi_chart">
          <img src="../../assets/images/root/pi-chrat.png">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="Concept-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="cont-br">
          <h2>Co-ownership Concept</h2>
          <p>KreisInvest has digitalised and established the property co-ownership model in Switzerland. <br>It has
            never been so easy to acquire a Swiss yield property.</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="owens-bg">
          <img src="../../assets/images/root/ownership.png">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="Frequently">
  <div class="container">
    <div class="col-md-12">
      <div class="title">
        <h2>Frequently asked questions</h2>
        <p>In spite of detailed information on our web site, you may still have some questions. We answer them here.</p>
      </div>
    </div>
    <div class="col-md-12">
  <div class="tab-slider--nav">
    <ul class="tab-slider--tabs">
      <li class="tab-slider--trigger" [class.active]="viewMode == 'tab1'" rel="tab1" (click)="viewMode ='tab1'">Burt</li>
      <li class="tab-slider--trigger" [class.active]="viewMode == 'tab2'" rel="tab2" (click)="viewMode ='tab2'">Olly</li>
      <li class="tab-slider--trigger" [class.active]="viewMode == 'tab3'" rel="tab3" (click)="viewMode ='tab3'">Wonder</li>
    </ul>
  </div>
  <div class="tab-slider--container" [ngSwitch]="viewMode">
    <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
      <accordion>
        <accordion-group heading=" 1.1. What exactly is the role of KreisInvest?" [isOpen]="isFirstOpen">
          <p> This content is straight in the template.</p>
        </accordion-group>
        <accordion-group heading="1.2. Is KreisInvest under the supervision of FINMA?">
          <p>Some content</p>
        </accordion-group>
        <accordion-group heading="1.3. How does the acquisition of co-ownership through KreisInvest work?">
          <p>Some content</p>
        </accordion-group>
        <accordion-group heading="1.4. What information and documents can be found on KreisInvest?">
          <p>Some content</p>
        </accordion-group>
        <accordion-group heading="1.5 Why do I have to register with KreisInvest in order to acquire a co-ownership share?">
          <p>Some content</p>
        </accordion-group>
        <accordion-group heading="1.6. How does KreisInvest make money?">
          <p>Some content</p>
        </accordion-group>
        <accordion-group heading=" 1.7. What is the difference betweeen KreisInvest and a property fund or property company?">
          <p>Some content</p>
        </accordion-group>
      </accordion>
    </div>
    <div id="tab2" class="tab-slider--body" *ngSwitchCase="'tab2'">
      <h3>Onlay</h3>
    </div>
    <div id="tab3" class="tab-slider--body" *ngSwitchCase="'tab3'">
      <h3>Wonder</h3>
    </div>
  </div>
    </div>
  </div>
</div>
<div class="benefit-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Benefits</h2>
        <p>Kreis is a long standing family of companies and people being in Switzerland gives you the right on this
          benefit</p>
        <p>New and extensive refurbishment In house management<br><span> THE SUM OF THE WHOLE IS WORTH MORE THAN ITS
            PARTS </span><br>Innovative exit philosophy  that allows you to play like the large institutions , all
          holders sign an agreement which states that if the exit value on year 5 once combined with preexisting real
          estate and future real-estate allows for a 15 % uplift on capital then everyone sells E.g. return E.g. deals </p>
        <ul class="check-icon">
          <li><strong><i class="fa fa-check" aria-hidden="true"></i></strong>Preexisting real estate </li>
          <li><strong><i class="fa fa-check" aria-hidden="true"></i></strong>Streamlined costs so benefits passed on </li>
          <li><strong><i class="fa fa-check" aria-hidden="true"></i> </strong>Experience</li>
          <li><strong><i class="fa fa-check" aria-hidden="true"></i></strong>Lower entry point</li>
          <li><strong><i class="fa fa-check" aria-hidden="true"></i></strong>Lower ROE but guaranteed ROE </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h2>ROE</h2>
        <p>The ROE is key return on equity at Kreis wealth the ROE is not a maybe it’s an insured agreement producing
          flat 5 % ROE paid quarterly in arrears , the whole KW philosophy is the streamline and simplify making as
          much use of technology as possible without losing the personal touch.  The benefit of the return being locked
          in is simple ok it’s not 6 % but it also not 3 %.</p>
        <p>The longer term strategy is for the sum of the parts philosophy to benefit from current stock preexisting
          stock and the substantive pipeline that we already own , and for all the individual owners to benefit from
          CRYTICAL MASS  something that so far as only been available to the elite.  </p>
      </div>
    </div>
  </div>
</div>