<div class="row">
  <div class="col-sm-12">
    <!-- Contextual classes table starts -->
    <app-card [title]="'Contextual classes'" [classHeader]="true" [blockClass]="'table-border-style'">     
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>              
              <th>English</th>
			  <th>Franch</th>
              <th>German</th>
              <th>Greek</th>
			  <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cat of categoryList; let i = index" [attr.data-index]="i">
              <th scope="row">{{i + 1}}</th>
              <td>{{cat.name}}</td>
              <td>{{cat.nameFr}}</td>
              <td>{{cat.nameIt}}</td>
              <td>{{cat.nameGr}}</td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </app-card>
    <!-- Contextual classes table ends -->
  </div>
</div>